.titlediv{
  margin-bottom: 2vh;
}

.itemImage{
  vertical-align: middle;
  width: 50vh;
}

.model-card {
	display: inline-block;
	margin: 0 1vw 4vh 1vw;
	max-height: 80vh;
	max-width: 20vw;
	text-decoration: none;
}

.no-decoration{
  text-decoration: none;
}

.facilitiesdiv, .programsdiv, .ebaydiv{
  display: block;
  margin: 5vh 0vw;
}
