.model-root {
	text-align: center;
}

.model-header {
	text-align: center;
	margin: 4vh 0 6vh 0;
}

.model-body {
	margin: auto;
	width: 80vw;
	text-align: left;
}

.model-footer {
	margin-bottom: 4vh;
}

.model-pagination {
	display: inline-block;
	width: 20vw;
}


.model-card {
	display: inline-block;
	margin: 0 1vw 4vh 1vw;
	max-height: 80vh;
	width: 18vw;
	text-decoration: none;
}

.model-card-media {
  padding-top: 100%;
}

.model-card-content {
	text-align: left;
}

.model-card-name {
	text-align: center;
}
