.titlediv{
  margin-bottom: 2vh;
}

.itemWrapper{
  width: 90%;
  margin: auto;
  text-align: center;
}

.imagewrapperdiv{
  height: 40vh;
  padding: 5vh 0 0 0;
  justify-content: center;
  line-height: 30vh;
}

.imagediv{
  overflow: hidden;
  display: inline-block;
}

.facilityImage{
  vertical-align: middle;
  width: 50vh;
}

.propsdiv{
  width: 30vw;
  display: inline-block;
  padding: 13vh 0 0 0;
  vertical-align: middle;
}

.propstextdiv{
  text-align: left;
  justify-content: center;
  display: inline-block;
}

.locationdiv{
  text-align: center;
  align-self: center;
  display: inline-block;
}

.mapdiv{
  width:40vh;
  height:40vh;
  vertical-align: center;
  display: block;
}

.model-card {
	display: inline-block;
	margin: 0 1vw 4vh 1vw;
	max-height: 80vh;
	max-width: 20vw;
	text-decoration: none;
}

.itemsdiv, .altfacilitiesdiv, .alt2facilitiesdiv, .programsdiv{
  display: block;
  margin: 5vh 0vw;
}
