.img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* transform: translateY(-50%); */
}

.root {
  height: 50vmin;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 5vh;
}

.carouselContainer{
  position: relative;
  max-height: 50vh;
  overflow: hidden;
}

.overlaytext{
  background-color: black;
  color: white;
  opacity: .7;
  position:absolute;
  top: 80%;
  padding: 0.2vh 0 0.5vh 0;
  width: 100%;
}
