.homeWrapper{
  text-align: center;
}
.tagline{
  padding-bottom: 1vh;
}

.gridcontainer{
  margin-top: 1vh;
  align-items: center;
}

.copyright{
  display: inline-grid;
  text-align: left;
  margin-left: 1vw;
  width:40%;
}

.hashtagcont{
  display: inline-grid;
  text-align: right;
  width:40%;
  vertical-align: middle;
  margin-right: 1vw;
}

.hashtag{
  padding: 1vh;
}

.bottomWrapper{
  padding: 1vh;
}

.tweet{
  max-width: 20vw;
}

.defgrid{
  align-content: center;
}
.button{
  background: blue;
}

.twitter-hashtag-button{
  background-color:#1b95e0;
  text-decoration: none;
  color: white;
  padding: 1px 10px 1px 9px;
  border-radius: 4px;
  height: auto;
}

.button{
  background: blue;
}
