.search-root{
  vertical-align: center;
  width: 100%;
}

.search-field{
  display:inline-grid;
  width: 95%;
}

.search-icon{
  display:inline-flex;
  vertical-align:bottom;
  height: 100%;
  width: 5%;
}

.search-icon-div{
  display:inline-flex;
  vertical-align:bottom;
  height: 100%;
  width: 5%;
}

.button{
  background-color: white;
  width: 5%;
  text-align: center;
  display: inline-block;
}

.results-div{
  margin-top: 5vh;
  margin: auto;
  width: 100%;
}
.result-div{
  display: inline-block;
  vertical-align:middle;
  margin: auto;
  width: 90%;
  margin-top: 5vh;
}
