.aboutdiv{
  text-align: center;
  align-items: center;
  align-content: center;
}

.wrapper{
  width: 90%;
  align-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
}

.aboutText{
  width: 70%;
  display: inline-block;
}

.goal{
  padding: 2vh 0vw;
  font-size: 18px;
}

.purpose{
  padding: 2vh 0vw;
  font-size: 18px;
}

.datalink{
  font-size: 16px;
  text-decoration: none;
}

.datadiv{
  padding: 2vh 0vw;
}

.linksdiv{
  padding: 2vh 0vw;
}
.visualdiv{
  padding: 2vh 0vw;
}
