.media {
  height: 0;
  padding-top: 100%;
  margin-bottom: 1vh;
}

.name {
  font-size: 1rem;
}

.bio {
  padding: 2%;
  max-width: 300px;
  min-width: 150px;
}

.job{
  padding: 2%;
}

.card{
  margin: 10px;
  padding: 0px 10px 5px 10px;
  text-align: center;
}

.statsdiv{
  padding: 2vh 0vw;
}
