.toolsdiv{
  padding: 10px 0px;
}

.toolcard{
  padding: 10px;
  width: 150px;
  margin: 10px;
}

.toolmedia {
  width: 150px;
  height: 120px;
  margin-bottom: 5px;
  display: inline-block;
}

.logodiv{
  width: 100%;
  height: 115px;
  margin-right: 10px;
  display: inline-block;
}

.textdiv{
  display: inline-block;
}
