.App {
  text-align: left;
}

.App-header {
  padding-left: 4vh;
  padding-right: 4vh;
}
.App-header-name {
  display: flex;
  flex-grow: 1;
}

.App-body {
  margin: 2vh;
}

.App-page {
  padding: 2vh;
}

